<div class="mt-4 w-full px-4">
  <div class="flex w-full flex-wrap justify-between items-center mb-4">
    <div class="w-full sm:w-auto mb-4 sm:mb-0">
      <%= link_to "Add food", "foods/new", class: "bg-green-600 text-white font-semibold px-4 py-2 hover:shadow-2xl hover:bg-green-500 transform transition-transform duration-300 ease-in-out hover:no-underline hover:shadow-2xl hover:shadow-green-300" %>
    </div>
  </div>
  <div class="text-white">
    <div class="grid grid-cols-4 gap-0 bg-black bg-opacity-50">
      <div class="col-span-1 border text-md font-semibold border-gray-500 text-white text-center py-3 px-4">
        Food
      </div>
      <div class="col-span-1 border text-md font-semibold border-gray-500 text-white text-center py-3 px-4">
        Unit
      </div>
      <div class="col-span-1 border text-md font-semibold border-gray-500 text-white text-center py-3 px-4">
        Price
      </div>
      <div class="col-span-1 border text-md font-semibold border-gray-500 text-white text-center py-3 px-4">
        Actions
      </div>
      <% @foods.each do |food| %>
        <div class="col-span-1 border border-gray-500 text-white text-center py-3 px-4">
          <%= food.name %>
        </div>
        <div class="col-span-1 border border-gray-500 text-white text-center py-3 px-4">
          <%= food.measurement_unit %>
        </div>
        <div class="col-span-1 border border-gray-500 text-white text-center py-3 px-4">
          <%= number_to_currency(food.price, unit: '$', precision: 2) %>
        </div>
        <div class="col-span-1 border border-gray-500 text-white text-center py-3 px-4">
          <%= button_to(
          '<i class="fas fa-trash-alt"></i>'.html_safe,
          "foods/#{food.id}",
          method: :delete,
          data: { confirm: 'Are you sure you want to remove this food?' },
          class: 'text-red-500 hover:text-red-600 font-bold px-4 rounded m-2'
          ) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
